.wrapper {
  height: 36px;
  width: 1158px;
  align-items: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
  display: flex;
  justify-content: center;
}

.text {
  letter-spacing: 0;
  color: #5681ee;
  font-size: 12px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  text-decoration: underline;
  width: 55px;
}

.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
