.header-bg {
  background: #303240;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0px 61px 0px 61px;
}

.user-actions {
  line-height: 24px;
  letter-spacing: 0;
  color: #ffffff;
  font-size: 14px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  height: 24px;
  width: 65px;
}

.logo {
  display: flex;
  height: 32px;
  align-items: center;
  margin: 14px 0px 15px 0px;
}

.video-course {
  color: #ffffff;
  font-size: 18px;
  font-family: "SourceSansPro-Bold";
  text-align: left;
  font-weight: 700;
  height: 23px;
  width: 139px;
  margin-left: 12px;
}

.oval {
  position: relative;
  height: 28px;
  width: 28px;
  text-align: center;
  border: double 2px transparent;
  border-radius: 30px;
  background-image: linear-gradient(#303240, #303240),
    linear-gradient(141deg, #0079ad 11%, #b4d084 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.triangle {
  background-image: linear-gradient(141deg, #0079ad 11%, #b4d084 100%);
  border-radius: 1px;
  background-color: #d8d8d8;
  height: 12px;
  width: 16px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login {
  display: flex;
  align-items: center;
}

.login-actions {
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: 0px;
}

.log-in {
  margin-right: 24px;
}

.img-login {
  filter: invert(100%);
  height: 12px;
  width: 12px;
  margin-right: 4px;
}

.img-log-out {
  rotate: 180deg;
  height: 10px;
  width: 10px;
  margin-right: 4px;
}

.user_info_block {
  display: flex;
  align-items: center;
}

.user_info {
  color: #ffffff;
  margin-right: 14px;
}
