$fontFamilyRegular: "SourceSansPro-Regular";
$fontFamilySemibold: "SourceSansPro-Semibold";

.wrapper {
  border-radius: 6px;
  border-style: 4px solid;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
  height: 100px;
  width: 1110px;
  padding: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.course-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 31px;
}

.info {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.common-info {
  line-height: 18px;
  letter-spacing: 0;
  color: #858997;
  font-size: 14px;
  font-family: $fontFamilyRegular;
  text-transform: none;
  text-align: left;
  height: 18px;
}

.date {
  margin-left: 26px;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 8px;
}

.actions {
  display: flex;
  align-items: center;
}

.delete {
  margin-left: 12px;
  border-radius: 3px;
  background: #009ecc;
  height: 24px;
  width: 72px;
  border: none;
  cursor: pointer;
}

.titleWrapper {
  display: flex;
  align-self: flex-end;
  align-items: center;
}

.title {
  margin-right: 10px;
  color: #333333;
  font-size: 24px;
  font-family: $fontFamilySemibold;
  text-transform: none;
  text-align: left;
  font-weight: 600;
  height: 31px;
}

.descr {
  width: 876px;
  line-height: 18px;
  letter-spacing: 0;
  color: #474a59;
  font-size: 14px;
  font-family: $fontFamilyRegular;
  text-transform: none;
  text-align: left;
  height: 54px;
  width: 876px;
}

.edit {
  border-radius: 3px;
  background: #009ecc;
  height: 24px;
  width: 60px;
  border: none;
  cursor: pointer;
}

.text {
  line-height: 12px;
  letter-spacing: 0.3px;
  color: #ffffff;
  font-size: 12px;
  font-family: $fontFamilySemibold;
  text-transform: none;
  text-align: left;
  font-weight: 600;
  height: 12px;
  width: 33px;
}

.img {
  margin-right: 5px;
  display: flex;
  align-items: flex-start;
  filter: invert(0.5);
}

.time-date {
  display: flex;
  align-items: flex-start;
}

.img-edit-delete {
  filter: invert(1);
  margin-right: 7px;
}

.topRated {
  background-color: #ffffd7;
}
