.courses-search {
  width: 240px;
  height: 36px;
  margin-right: 12px;
  border: none;
  outline: none;
  text-indent: 35px;
}

.search-icon {
  transform: scaleX(-1);
}

.serach-icon-wrapper {
  text-align: center;
  margin-right: -26px;
  position: relative;
  z-index: 1;
  float: left;
  left: 9px;
  top: 11px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search {
  display: flex;
  margin-left: 61px;
  margin-top: 21px;
}

.search-button {
  border-radius: 3px;
  background: #67a300;
  height: 36px;
  width: 73px;
  border: none;
  cursor: pointer;
}

.text {
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #ffffff;
  font-size: 14px;
  font-family: "SourceSansPro-Semibold";
  text-transform: none;
  text-align: left;
  font-weight: 600;
  height: 30px;
  width: 41px;
}
