$fontFamilyRegular: "SourceSansPro-Regular";

.wrapper {
  align-items: center;
  margin: 17px 0px 17px 0px;
  overflow: scroll;
  max-height: 685px;
}

.emptyCoursesWrapper {
  text-align: center;
  border-radius: 6px;
  border-style: 4px solid;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
  height: 20px;
  width: 1110px;
  padding: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  line-height: 18px;
  letter-spacing: 0;
  color: #858997;
  font-size: 14px;
  font-family: $fontFamilyRegular;
}

.search-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.breadcrumbs {
  background: white;
  height: 64px;
  color: black;
  align-items: center;
}
