.wrapper {
  position: absolute;
  bottom: 0px;

  background: #303240;
  height: 60px;
  width: 1280px;
}

.text {
  line-height: 24px;
  letter-spacing: 0;
  color: #ffffff;
  font-size: 12px;
  font-family: "SourceSansPro-Regular";
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 84px;
}
