.wrapper {
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
  height: 636px;
  width: 730px;
  padding: 24px;
  margin-bottom: 146px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.block-form {
  display: flex;
  justify-content: space-between;
}

.input {
  height: 36px;
  border: 1px solid #dbd6d6;
  text-indent: 5px;
}

.info-input {
  width: 724px;
}

.text-area {
  width: 724px;
  height: 108px;
  border: 1px solid #dbd6d6;
  text-indent: 5px;
}

.required {
  line-height: 24px;
  letter-spacing: 0;
  color: #474a59;
  font-size: 12px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  height: 24px;
  width: 51px;
}

.text {
  margin: 12px 0px 8px 0px;
}

.date-time {
  width: 150px;
  height: 36px;
}

.label-wrappepr {
  width: 157px;
}

.title {
  margin: 2px 0px 6px 0px;
}

.cancel-btn {
  width: 76px;
  height: 36px;
  margin-right: 15px;
  border-radius: 3px;
  background: rgba(18, 21, 35, 0.2);
  cursor: pointer;
  border: none;
  &:hover {
    background-color: rgba(75, 77, 85, 0.2);
  }
}

.save-btn {
  width: 64px;
  height: 36px;
  background-color: green;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: rgb(29, 134, 29);
  }
  color: white;
  border-radius: 3px;
}

.btn-wrapper {
  position: fixed;
  right: 20%;
  top: 80%;
}

.label-text {
  line-height: 24px;
  letter-spacing: 0;
  color: #474a59;
  font-size: 14px;
  font-family: "SourceSansPro-Semibold";
  text-transform: none;
  text-align: left;
  font-weight: 600;
  height: 24px;
  width: 32px;
}

.invalid-field {
  font-size: small;
  color: red;
}

.is-invalid {
  border-color: red;
}
